
@import "{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

input.error{
    background-color:rgb(255, 231, 231);
}

@font-face {
font-family: 'ihatecomicsans';
src: url('fonts/IHateComicSans.ttf');
}

body, html {
    height: 100%;
	font-family: 'IHateComicSans'
}

body { 
    /* The image used */
    background-image: url("./res/background.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
 
    background-size: cover;
font-weight: bold;
	 
}
img{
max-width: 100%;
height: auto;
}
.flipped {
-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.box {
background-image: url("./res/box.png");
  height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	  border: 2px solid black;
    border-radius: 10px;
}
.otherbox {
background-image: url("./res/box.png");
  height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	  border: 2px solid black;
   border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
	
	
	}

.barthing {
background-image: url("./res/bar.png");
  height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	 background-attachment: fixed;
}

